/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: sans-serif;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

.debug .border {
  border: 2px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: lightgray;
}

header {
  background-color: #265EE9;
}

p {
  font-size: 1.3rem; 
  line-height: 150%;
}

a i {
  margin-right: 10px;
  font-size: 1rem;
}

/* # Navbar */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
  /*background-color: goldenrod;*/
  font-size: 1.1rem;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-menu > a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.navbar-actions {
  text-align: right;
}

.navbar-actions > button {
  padding: 10px 15px;
  border-radius: 30px;
  border: white solid 1px;
  font-weight: 700;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 660px;
  /*background-color: darkblue;*/
  background-image: url(../img/jumbo.png);
  background-size: cover;


  display: flex;
  justify-content: center;
}

.jumbotron .content {
  width: 50%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /*background-color: violet;*/
}
.content {
  text-align: center;
  color: white;
}

.content > h1 {
  font-size: 3.5rem;
  margin: 100px 0 50px 0;
}

.content > p {
  margin-bottom: 70px;
}

.content a {
  margin: 0 40px;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 55px;
  font-size: 1.3rem;
}

.download {
  color: black;
  background-color: white;
  border: white solid 1px;
}

.open-browser {
  color: white;
  background-color: #23272A;
  border: #23272A solid 1px;
}

/* # Main & sections */

section {
  padding: 150px 0;
  min-height: 600px;
}

section > .container {
  min-height: 100%;
}

.flex > .small-col {
  flex-basis: 35%;
  /*background-color: pink;*/
}

.flex > .large-col {
  flex-basis: 65%;
  /*background-color: dodgerblue;*/
}

.flex > .full-col {
  flex-basis: 100%;
  /*background-color: darkgreen;*/
}

.small-col h2 {
  font-size: 3rem;
  margin: 30px 0 20px 0;
}

.full-col {
  text-align: center;
}

.full-col h2{
  font-size: 3rem;
  margin: 30px 0 20px 0;
}

.full-col h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.full-col > img {
  width: 100%;
  height: auto;
}

.full-col > a {
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 55px;
  font-size: 1.3rem;
  color: white;
  background-color: #8EA1E1;
  border-color: #8EA1E1;

}

/* # Footer */

footer {
  padding: 50px;
  background-color: #23272a;
  /* color: white; */
}

.footer-top {
  height: 600px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid purple;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
  background-color: pink;
}

.footer-top .footer-right {
  flex-basis: 70%;
  background-color: #20b2aa;
}

.footer-nav {
  height: 100%;
  display: flex;
  /* background-color: #fff; */
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;
}

.footer-bottom > * {
  padding: 5px 10px;
  background-color: yellow;
}
